  <div class="modal-header">
    <h3 class="modal-title pull-left">Czy chcesz dodać do kontaktów {{title}}?</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="element">
    <button type="button" class="btn btn-info"  (click)="modalRef.hide()" (click)="addContact()">Doadaj</button>
    <button type="button" class="btn btn-info"  (click)="modalRef.hide()" (click)="foregetContact()">Zapomnij</button>
    </div>
  </div>
