<div id="chatActive" [style.height.px]="windowHeight">
<div class="back">
  <button type="button" class="btn btn-info" (click)="back()">powrót</button>
  </div>
  <div *ngIf="deleteContact.length > 0; then deleteContactNow; else noDeleteContact"></div>
  <ng-template #deleteContactNow>
    <div class="element" style="margin-top:20%">
    <button type="button" class="btn btn-danger btn-sm" (click)="openModal2()">Problem z użytkownikiem <span style="color:black;font-weight:bold;text-transform:uppercase">{{deleteContact[0]}}</span>  !!!</button>
    </div>
    </ng-template>
    <ng-template #noDeleteContact>
      <div *ngIf="deleteExistingContact.length > 0; then deleteContactNow2; else noDeleteContact2"></div>
      <ng-template #deleteContactNow2>
        <div class="element" style="margin-top:20%">
        <button type="button" class="btn btn-danger btn-sm" (click)="openModal4()">Problem z użytkownikiem <span style="color:black;font-weight:bold;text-transform:uppercase">{{deleteExistingContact[0]}}</span>  !!!</button>
        </div>
        </ng-template>
        <ng-template #noDeleteContact2>
  <div *ngIf="addContact == true;then newContact; else noAddContact "></div>
  <ng-template #newContact>
  <div class="element" style="margin-bottom:2%">
    <button type="button" class="btn btn-danger btn-sm" (click)="openModal()">nieznany użytkownik</button>
    <div class=chatActive2>{{newContactMessagesLength}}</div>
  </div>
  <div class="element" style="margin-bottom:1%">
    Moje kontakty:
    </div>
    <div class="element">
      <div  *ngFor="let contact of myContacts;let i=index" style="margin-right:2%">
      <button type="button" class="btn btn-primary btn-sm" (click)="contactSendMessage($event)">{{contact}}
      </button>
      <div class="chatActive">{{unreadMessages[i]}}</div>
    </div>
    </div>
    </ng-template>
    <ng-template #noAddContact>
      <div class="element" style="margin-bottom:1%">
        Moje kontakty:
        </div>
        <div class="element">
          <div  *ngFor="let contact of myContacts;let i=index" style="margin-right:2%">
          <button type="button" class="btn btn-primary btn-sm" (click)="contactSendMessage($event)">{{contact}}
          </button>
          <div class=chatActive>{{unreadMessages[i]}}</div>
          <button type="button" class="deleteContact" (click)="openModal3($event)">X</button>
        </div>
        </div>
    </ng-template>
    <div *ngIf="addressed.length > 5; then sendMessageTo; else sendMessageChoice "></div>
    <ng-template #sendMessageTo>
      <div class="element">
        <button type="button" class="btn btn-danger btn-sm" (click)="backToAddPlayer()">wróć</button>
        </div>
      <div class="element" style="margin-top:2%">
      <div class="elementsChat" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div>
        <div class="elementChat" *ngFor="let message of historyChat">
          <span style="color:red">{{message.name}} : </span><span style="color:black">{{message.text}}</span>
          </div>
          </div>
          </div>
          </div>
        <form [formGroup]="messageForm2" (ngSubmit)="sendTo($event)">
          <div class="element" style="margion-top:2%">
            treśc wiadomości:
          </div>
          <label class="element">
            <textarea type="text" formControlName="message" rows="1" cols="40"></textarea>
          </label>
          <div class="element">
            <div *ngIf="messageForm2.get('message').invalid"><sup style="color:red;text-shadow: 0 0 3px lightgrey, 0 0 5px white;">*Pole Wymagane!</sup></div>
          </div>
          <div class="element">
            <div *ngIf="messageForm2.get('message').invalid && messageForm2.get('message').errors.minlength"><sup style="color:red;text-shadow: 0 0 3px lightgrey, 0 0 5px white;">*Min. 6 znaków!</sup></div>
          </div>
        <div class="element" style="padding-top:2%">
          <button type="submit" [disabled]="!messageForm2.valid" class="btn btn-danger" style = "margin-right:2%" >Wyślij do {{addressed}}</button>
        </div>
      </form>
      </ng-template>
<ng-template #sendMessageChoice>
<div class="element">
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <div class="element">
      treśc wiadomości:
    </div>
    <label class="element">
      <textarea type="text" formControlName="message" rows="4" cols="40"></textarea>
    </label>
    <div class="element">
      <div *ngIf="messageForm.get('message').invalid"><sup style="color:red;text-shadow: 0 0 3px lightgrey, 0 0 5px white;">*Pole Wymagane!</sup></div>
    </div>
    <div class="element">
      <div *ngIf="messageForm.get('message').invalid && messageForm.get('message').errors.minlength"><sup style="color:red;text-shadow: 0 0 3px lightgrey, 0 0 5px white;">*Min. 6 znaków!</sup></div>
    </div>
    <div class="element">
      wyslij do (nazwa użytkownika):
    </div>
    <label class="element">
      <input type="email" formControlName="name">
    </label>
    <div class="element">
      <div *ngIf="messageForm.get('name').invalid"><sup style="color:red;text-shadow: 0 0 3px lightgrey, 0 0 5px white;">*Adresat wymagany!</sup></div>
    </div>
    <div class="element">
      <div *ngIf="messageForm.get('name').invalid && messageForm.get('name').errors.minlength"><sup style="color:red;text-shadow: 0 0 3px lightgrey, 0 0 5px white;">*Min. 6 znaków</sup></div>
    </div>
  <div class="element" style="padding-top:2%">
    <button type="submit" (click) = "send($event)" [disabled]="!messageForm.valid" class="btn btn-danger" style = "margin-right:2%">Wyślij</button>
  </div>
  <div class="element" style="padding-top:2%;text-align:center">
    {{warning}}
  </div>
</form>
  </div>
  </ng-template>
  </ng-template>
  </ng-template>
</div>
